@page "/"
@using TheWayOfCoherenceWeb
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Way of Coherence</title>

    <base href="~/" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/members.css" />
   

    <link rel="icon" type="image/png" href="favicon.png" />
</head>
<body>
    <app>
        <component type="typeof(TheWayOfCoherenceWeb.App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
